.desktop-description-general {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0;
  padding: 12px;
  height: 80px;
  background: #ffffff;
  border: 1px solid #707070;
  opacity: 1;
  text-align: left;
  font-family: 'Helvetica Neue', sans-serif;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;

  @media (min-width: 768px) {
    width: 342px;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.desktop-description-engine {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0;
  padding: 12px;
  height: 80px;
  background: #ffffff;
  border: 1px solid #707070;
  opacity: 1;
  text-align: left;
  font-family: 'Helvetica Neue', sans-serif;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;

  @media (min-width: 768px) {
    width: 342px;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.desktop-description-special {
  margin: 0;
  padding: 12px;
  height: 80px;
  background: #ffffff;
  border: 1px solid #707070;
  opacity: 1;
  text-align: left;
  font-family: 'Helvetica Neue', sans-serif;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;

  @media (min-width: 768px) {
    width: 342px;
  }

  @media (max-width: 600px) {
    display: none;
  }
}

.mobile-description-general {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0;
  padding: 12px;
  height: 80px;
  background: #ffffff;
  border: 1px solid #707070;
  opacity: 1;
  text-align: left;
  font-family: 'Helvetica Neue', sans-serif;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;

  @media (min-width: 768px) {
    display: none;
  }

  @media (max-width: 767px) {
    width: 294px;
  }
}

.mobile-description-engine {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0;
  padding: 12px;
  height: 80px;
  background: #ffffff;
  border: 1px solid #707070;
  opacity: 1;
  text-align: left;
  font-family: 'Helvetica Neue', sans-serif;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;

  @media (min-width: 768px) {
    display: none;
  }

  @media (max-width: 767px) {
    width: 294px;
  }
}

.mobile-description-special {
  margin: 0;
  padding: 12px;
  height: 80px;
  background: #ffffff;
  border: 1px solid #707070;
  opacity: 1;
  text-align: left;
  font-family: 'Helvetica Neue', sans-serif;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;

  @media (min-width: 768px) {
    display: none;
  }

  @media (max-width: 767px) {
    width: 294px;
  }
}

.hidden {
  display: none;
  text-align: left;
  font-family: 'Helvetica Neue', sans-serif;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}
