.price {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 20px;
  font-family: 'Helvetica Neue', sans-serif;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;

  @media (min-width: 768px) {
    width: 342px;
  }

  input {
    height: 40px;
    width: 68px;
    padding-left: 12px;
    margin-bottom: 12px;
  }
  button {
    height: 28px;
    border-radius: 8px;
    border: 1px solid;
    background: #e5e5e5;
    box-shadow: 1px 1px #707070;
  }
}
