.general {
  top: 466px;
  margin-right: 0;
  height: 48px;
  margin-bottom: 0;
  background: #e5e5e5;
  opacity: 1;
  border: none;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: medium;
  letter-spacing: 1.25px;
  color: #00000099;

  @media (min-width: 768px) {
    width: 120px;
  }

  @media (max-width: 767px) {
    width: 320px;
  }
}

.engine {
  top: 466px;
  margin-right: 0;
  height: 48px;
  background: #e5e5e5;
  opacity: 1;
  border: none;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: medium;
  letter-spacing: 1.25px;
  color: #00000099;

  @media (min-width: 768px) {
    width: 120px;
  }

  @media (max-width: 767px) {
    width: 320px;
  }
}

.specials {
  top: 466px;
  left: 605px;
  height: 48px;
  background: #e5e5e5;
  opacity: 1;
  border: none;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: medium;
  letter-spacing: 1.25px;
  color: #00000099;

  @media (min-width: 768px) {
    width: 120px;
  }

  @media (max-width: 767px) {
    width: 320px;
  }
}

.active-tab {
  background: #ece0fd;
  color: #6200ee;
  border-bottom: 2px solid #6100ed;
  transition: 1s;
}
