body {
  margin-left: 24px;
}

header {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 0px;
  color: #2a2c34;
  opacity: 1;
}

.subtitle {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: light;
  letter-spacing: 0px;
  color: #2a2c34;
  opacity: 1;
}
